
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmailHistoryLabel">Create or edit a Email History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.emailHistory.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.emailHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_emailHistoryId">Email History Id</label>
            <input type="number" class="form-control" name="emailHistoryId" id="field_emailHistoryId"
                    ng-model="vm.emailHistory.emailHistoryId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fromAddress">From Address</label>
            <input type="text" class="form-control" name="fromAddress" id="field_fromAddress"
                    ng-model="vm.emailHistory.fromAddress"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_recipients">Recipients</label>
            <input type="text" class="form-control" name="recipients" id="field_recipients"
                    ng-model="vm.emailHistory.recipients"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="vm.emailHistory.text"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.emailHistory.userId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_siteId">Site Id</label>
            <input type="number" class="form-control" name="siteId" id="field_siteId"
                    ng-model="vm.emailHistory.siteId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.emailHistory.date" is-open="vm.datePickerOpenStatus.date"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
