
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFeedbackLabel">Create or edit a Feedback</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.feedback.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.feedback.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_feedbackId">Feedback Id</label>
            <input type="number" class="form-control" name="feedbackId" id="field_feedbackId"
                    ng-model="vm.feedback.feedbackId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.feedback.userId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_siteId">Site Id</label>
            <input type="number" class="form-control" name="siteId" id="field_siteId"
                    ng-model="vm.feedback.siteId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateCreated">Date Created</label>
                <div class="input-group">
                    <input id="field_dateCreated" type="text" class="form-control" name="dateCreated" datetime-picker="{{dateformat}}" ng-model="vm.feedback.dateCreated" is-open="vm.datePickerOpenStatus.dateCreated"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCreated')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="field_subject"
                    ng-model="vm.feedback.subject"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_replyToAddress">Reply To Address</label>
            <input type="text" class="form-control" name="replyToAddress" id="field_replyToAddress"
                    ng-model="vm.feedback.replyToAddress"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_replyToName">Reply To Name</label>
            <input type="text" class="form-control" name="replyToName" id="field_replyToName"
                    ng-model="vm.feedback.replyToName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_feedback">Feedback</label>
            <input type="text" class="form-control" name="feedback" id="field_feedback"
                    ng-model="vm.feedback.feedback"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_archived">Archived</label>
            <input type="number" class="form-control" name="archived" id="field_archived"
                    ng-model="vm.feedback.archived"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
